.gameGrid {
    width:  400px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(100, 1fr);
}

.cell {
    width: 100%;
}

.cell.life {
    background-color: #001d3d;
}
