.gameGrid {
    width:  400px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(100, 1fr);
}

.cell {
    width: 100%;
}

.cell.life {
    background-color: #001d3d;
}

.controls-container {
    position: absolute;
    opacity: 0.4;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.controls-container:hover {
    opacity: 1;
}

